.dilemma-section {
  height: 100;
  width: 600px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.header {
  background-color: #fff;
  text-align: center;
  min-height: 56px;
  box-shadow: 0px 4px 4px -4px #888888;
  width: 100%;
  h4 {
    padding-top: 10px;
  }
}
.shareTop {
  position: absolute;
  right: 30px;
  width: 25px;
  height: 25px;
}

.tag-pill {
  background-color: rgb(167, 165, 165);
  color: #fff;
  padding: 0 6px 2px 6px;
  border-radius: 50px;
  margin-right: 5px;
  font-size: 70%;
  font-weight: 200;
}

.card-reply {
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #42daf5;
  color: #42daf5;
  font-weight: 500;
}

.reply-icon {
  padding: 1px 4px;
}

.reply-counter {
  background-color: #42daf5;
  color: #fff;
  padding: 1px 5px;
}

.card-follow {
  border-width: 1px;
  border-style: solid;
  border-color: #9042f5;
  color: #9042f5;
  font-weight: 500;
}

.follow-icon {
  padding: 1px 4px;
}

.follow-counter {
  background-color: #9042f5;
  color: #fff;
  padding: 1px 5px;
}

.card {
  width: 600px;
  background-color: #e2e1e0;
  position: relative;
  margin: 0 auto;
}

.long.arrow.alternate.left.icon {
  height: 30px;
  width: 200px;
}

#content-top {
  color: white;
}

.left.floated {
  flex-direction: row;
}

.ui.center {
  &.floated.header {
    position: relative;
    text-align: center;
  }
  &.aligned.icon.header {
    position: relative;
    bottom: 35px;
  }
}

.titleIcons {
  display: inline;
}

.fa-bookmark-o {
  position: relative;
  left: 450px;
}

#share-top {
  position: relative;
}

#box-1 {
  position: relative;
  top: 40px;
}

#category {
  width: 50px;
  background-color: white;
  position: relative;
  left: 200px;
  border-radius: 30px;
  top: 30px;
}
#p {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .dilemma-section {
    width: 100%;
    font-size: 12px;
  }
  .card {
    width: 90%;
    font-size: 12px;
  }
  .header {
    width: 100%;
  }
  .shareTop {
    width: 15px;
    height: 15px;
  }
  h4 {
    padding-top: 8px;
    font-size: 20px;
  }
  #p {
    font-size: 12px;
    text-align: left;
  }
}
