.send-btn {
  position: absolute;
  bottom: 6px;
  left: 92%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: red;
}
.description-field {
  max-width: 500px;
}
.content {
  width: 75%;
}
.userId {
  text-align: left;
  font-size: 12px;
}
.imageContainer {
  width: 15%;
}
#mainContent {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
#input-field {
  border: 5px solid #e8e6e6;
  font-size: 12px;
  font-family: sans-serif;
}
@media only screen and (max-width: 600px) {
  .description-field {
    max-width: 100%;
  }
  .content {
    width: 65%;
  }
  .userId {
    font-size: 11px;
  }
  .imageContainer {
    width: 5%;
  }
  #mainContent {
    width: 100%;
    text-align: center;
  }
  .send-btn {
    width: 15px;
    height: 15px;
    bottom: 8px;
    position: absolute;
  }
  #input-field {
    border: 2px solid #e8e6e6;
    font-size: 11px;
  }
}
